<!-- <div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">topic</th>
                <th scope="col">timepreference</th>
                <th scope="col">Edits</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let us of readData">
                <th scope="row">{{us.id}}</th>
                <td>{{us.name}}</td>
                <td>{{us.email}}</td>
                <td>{{us.phone}}</td>
                <td>{{us.topic}}</td>
                <td>{{us.timepreference}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteId(us.id)">Delete</button>
                 <a [routerLink]="['/create','{us.id}']" class="btn btn-sm btn-success">update</a>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->
